a { color: #000000; }
a { color: #000040; }
a { color: #000080; }
a { color: #0000C8; }
a { color: #0000CC; }
a { color: #0000DD; }
a { color: #0000E2; }
a { color: #0000EE; }
a { color: #0000FE; }
a { color: #0000FF; }
a { color: #002040; }
a { color: #004000; }
a { color: #004040; }
a { color: #004080; }
a { color: #0078FF; }
a { color: #008000; }
a { color: #008040; }
a { color: #008080; }
a { color: #0080FF; }
a { color: #00A000; }
a { color: #00A0AB; }
a { color: #00AACC; }
a { color: #00AFFF; }
a { color: #00DD99; }
a { color: #00EE00; }
a { color: #00F2FF; }
a { color: #00FF00; }
a { color: #00FF80; }
a { color: #00FFFF; }
a { color: #02ED31; }
a { color: #0800E8; }
a { color: #0A62A3; }
a { color: #0D41A0; }
a { color: #0F0B9E; }
a { color: #121212; }
a { color: #123960; }
a { color: #1414E4; }
a { color: #161616; }
a { color: #181818; }
a { color: #1919BF; }
a { color: #1A1A1A; }
a { color: #1A1ABC; }
a { color: #1A23E2; }
a { color: #1A75FF; }
a { color: #1D94F8; }
a { color: #1F1F1F; }
a { color: #204080; }
a { color: #222222; }
a { color: #2265F2; }
a { color: #232323; }
a { color: #241CEE; }
a { color: #272727; }
a { color: #282828; }
a { color: #2A2A2A; }
a { color: #2AD1FF; }
a { color: #303030; }
a { color: #303031; }
a { color: #307B19; }
a { color: #313131; }
a { color: #313132; }
a { color: #333333; }
a { color: #3333FF; }
a { color: #343434; }
a { color: #352080; }
a { color: #358020; }
a { color: #363636; }
a { color: #373331; }
a { color: #3867F6; }
a { color: #3A3A3A; }
a { color: #3B3B3B; }
a { color: #3C3028; }
a { color: #3C3C3C; }
a { color: #3D3D3E; }
a { color: #3E3837; }
a { color: #3E3E3E; }
a { color: #3F3F3F; }
a { color: #3F3FB6; }
a { color: #3F43A1; }
a { color: #3F454E; }
a { color: #3FC78D; }
a { color: #400000; }
a { color: #400080; }
a { color: #403733; }
a { color: #403A3A; }
a { color: #404000; }
a { color: #404040; }
a { color: #404080; }
a { color: #4040EC; }
a { color: #4040FF; }
a { color: #408000; }
a { color: #40E1EC; }
a { color: #413A3A; }
a { color: #414141; }
a { color: #424242; }
a { color: #43CDFF; }
a { color: #444444; }
a { color: #4450DD; }
a { color: #45403B; }
a { color: #464646; }
a { color: #4646E6; }
a { color: #4646EC; }
a { color: #46A63F; }
a { color: #4AB539; }
a { color: #4B433F; }
a { color: #4B4948; }
a { color: #4C433E; }
a { color: #4C4C4C; }
a { color: #4D4D4D; }
a { color: #4E4E4E; }
a { color: #4F6CF3; }
a { color: #504826; }
a { color: #51A600; }
a { color: #524A43; }
a { color: #525252; }
a { color: #54D3D2; }
a { color: #555555; }
a { color: #5555B5; }
a { color: #5555FF; }
a { color: #568EF7; }
a { color: #584D47; }
a { color: #58595E; }
a { color: #58B555; }
a { color: #599CDF; }
a { color: #5A5A5A; }
a { color: #5AE558; }
a { color: #5B14EE; }
a { color: #5B5BFF; }
a { color: #5B995B; }
a { color: #5B9D02; }
a { color: #5B9D03; }
a { color: #5C534C; }
a { color: #5C5C5C; }
a { color: #5DAFFB; }
a { color: #5F5F5F; }
a { color: #600463; }
a { color: #606060; }
a { color: #6060FF; }
a { color: #613334; }
a { color: #616161; }
a { color: #626262; }
a { color: #635A55; }
a { color: #636363; }
a { color: #645B57; }
a { color: #64AD03; }
a { color: #666666; }
a { color: #676767; }
a { color: #686666; }
a { color: #68F5FF; }
a { color: #69615B; }
a { color: #696969; }
a { color: #6A6867; }
a { color: #6C635C; }
a { color: #6DCAFF; }
a { color: #6E6E6E; }
a { color: #6F1E31; }
a { color: #6F6FFF; }
a { color: #707070; }
a { color: #7171D9; }
a { color: #71B8FF; }
a { color: #73D4AC; }
a { color: #747474; }
a { color: #756A5D; }
a { color: #767676; }
a { color: #76C57C; }
a { color: #777777; }
a { color: #786B61; }
a { color: #78B83C; }
a { color: #7997F7; }
a { color: #79D104; }
a { color: #7A6851; }
a { color: #7D6DF2; }
a { color: #7D7D7D; }
a { color: #7DD703; }
a { color: #800000; }
a { color: #800080; }
a { color: #8000FF; }
a { color: #802020; }
a { color: #804000; }
a { color: #804080; }
a { color: #8040FF; }
a { color: #806060; }
a { color: #808000; }
a { color: #808040; }
a { color: #808080; }
a { color: #8080FF; }
a { color: #80C000; }
a { color: #80C080; }
a { color: #80C0FF; }
a { color: #80FF00; }
a { color: #80FF80; }
a { color: #80FFFF; }
a { color: #81ADFA; }
a { color: #85A201; }
a { color: #88736A; }
a { color: #888888; }
a { color: #898989; }
a { color: #89C6FD; }
a { color: #8A7DCD; }
a { color: #8B8B8B; }
a { color: #8C00ED; }
a { color: #8E8E84; }
a { color: #8F2792; }
a { color: #909090; }
a { color: #912D66; }
a { color: #92312E; }
a { color: #948729; }
a { color: #949494; }
a { color: #957665; }
a { color: #959595; }
a { color: #9749A3; }
a { color: #979797; }
a { color: #988E86; }
a { color: #999999; }
a { color: #9999CC; }
a { color: #99F8FF; }
a { color: #9AF324; }
a { color: #9BDFC4; }
a { color: #9CBF97; }
a { color: #9CCA82; }
a { color: #9CD4A3; }
a { color: #9D98F6; }
a { color: #9DA900; }
a { color: #9E9894; }
a { color: #9ED4D2; }
a { color: #9F8565; }
a { color: #9FE545; }
a { color: #A08070; }
a { color: #A08B83; }
a { color: #A09389; }
a { color: #A0A000; }
a { color: #A2A2A2; }
a { color: #A3A3A3; }
a { color: #A65400; }
a { color: #A6803F; }
a { color: #A79905; }
a { color: #A7A7A7; }
a { color: #A7FF32; }
a { color: #A8A8A8; }
a { color: #A95C60; }
a { color: #A96085; }
a { color: #A964A8; }
a { color: #A9FD3B; }
a { color: #AA6EF1; }
a { color: #AAAAAA; }
a { color: #AAFFAA; }
a { color: #AB6800; }
a { color: #ADAEB0; }
a { color: #B3B3B3; }
a { color: #B4BB1C; }
a { color: #B6B6B6; }
a { color: #B6F9FF; }
a { color: #B7B7B7; }
a { color: #BBBBBB; }
a { color: #BC7200; }
a { color: #BE8187; }
a { color: #BF3991; }
a { color: #BF8CBD; }
a { color: #C0C0C0; }
a { color: #C29AF4; }
a { color: #C7AE91; }
a { color: #C8C800; }
a { color: #C8CD7A; }
a { color: #C9BEB5; }
a { color: #CA9383; }
a { color: #CB8C44; }
a { color: #CBCBCB; }
a { color: #CCCCCC; }
a { color: #CCCCFF; }
a { color: #CDCDCD; }
a { color: #CFC236; }
a { color: #D06436; }
a { color: #D0D0D0; }
a { color: #D1D1D1; }
a { color: #D2FF00; }
a { color: #D5D5D5; }
a { color: #D7D7D7; }
a { color: #D9A77D; }
a { color: #D9BA71; }
a { color: #DDDDDD; }
a { color: #E17831; }
a { color: #E2E2E2; }
a { color: #E64600; }
a { color: #E68505; }
a { color: #E6E6E6; }
a { color: #E8E8E8; }
a { color: #ECECEC; }
a { color: #EEEEBB; }
a { color: #EEEEEE; }
a { color: #EFEFEF; }
a { color: #F07C00; }
a { color: #F0AE00; }
a { color: #F0F0F0; }
a { color: #F3BF00; }
a { color: #F3F3F3; }
a { color: #F4C340; }
a { color: #F7D06D; }
a { color: #FABF9B; }
a { color: #FCEECC; }
a { color: #FF0000; }
a { color: #FF0080; }
a { color: #FF00FF; }
a { color: #FF3333; }
a { color: #FF4000; }
a { color: #FF6000; }
a { color: #FF6060; }
a { color: #FF7777; }
a { color: #FF7EFF; }
a { color: #FF8000; }
a { color: #FF8080; }
a { color: #FF80FF; }
a { color: #FF8422; }
a { color: #FF9600; }
a { color: #FF9933; }
a { color: #FFA500; }
a { color: #FFAAAA; }
a { color: #FFB1B2; }
a { color: #FFC600; }
a { color: #FFCACA; }
a { color: #FFD68D; }
a { color: #FFDA44; }
a { color: #FFDE43; }
a { color: #FFDED5; }
a { color: #FFE684; }
a { color: #FFEABB; }
a { color: #FFEC09; }
a { color: #FFEDB6; }
a { color: #FFEEDD; }
a { color: #FFEFCF; }
a { color: #FFF351; }
a { color: #FFFF00; }
a { color: #FFFF80; }
a { color: #FFFFFF; }